@import url(https://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,300,700);
/*header*/
.logo{
	width:90px;
}
header h1{
	font-family: 'Satisfy',cursive;
	color:#FF827B;
	margin-top:20px;
	fon
}
.nav li{
	font-size:20px;
}
li a{
	color:#61AEE6;
	font-family:'Open Sans';
	font-weight:400;
}
a:hover{
	color:#FF827B;
}
.bottom{
	top:20px;
}
/*end of header*/

/*jumbotron*/
.jumbotron{
	background-image:url(../img/hero.jpg);
	background-size:cover;
	background-position:center;
	height:450px;
}
.jumbotron h2{
	font-family: 'Open Sans';
	font-weight: 300;
	color:#FFF;
}

div{
	display:block;
}
.pic{
	background-color:#d9d9d9;
	padding:10px;
	border-radius:5px;

}
.items{
	position:relative;
	padding-right:0px;
	padding-left:15px;
}
.title{
	background-color:#d9d9d9;
	padding:15px;
}
footer{
	height:200px;
	padding:15px;
	background-color:black;
	color:#d9d9d9;
	font-size:12px;
}
.copyright{
	text-align:center;
	color:d9d9d9;
}











